<div class="panel panel-default">
    <div class="panel-heading">
        Dashboard
    </div>

    <div class="panel-body container">
        <div class="dashboard row">

            <div class="category col-md-4 {{ cat.class }}" ng-repeat="cat in categories">
            	<div class="cat-header">
                	<img src="{{ cat.icon }}" />
                	<h2>{{ cat.title }}</h2>
                </div>
                <div class="topic" ng-repeat="topic in topics | orderByPriority | topicCategory:cat">
                    {{ topic.text }}
                    <button ng-click="remove(topic)" class="btn btn-danger btn-sm">X</button>
                </div>
            </div>
        </div>
    </div>
</div>
