<div class="container-fluid panel panel-default">
  <div class="panel-heading">
    <h3>Vote on topics</h3>
  </div>

  <div class="panel-body" ng-controller="NotesCtrl" ng-show="authenticated">
    <div class="btn-group categories">
      <button type="button" ng-class="(category == selectedCategory) ? 'btn-primary' : ''" class="btn" ng-repeat="category in categories | orderByPriority" ng-click="selectCategory(category)">{{category.title}}</button>
    </div>

    <div class="container-fluid">
      <div class="row" ng-repeat="category in categories | orderByPriority" ng-show="category == selectedCategory">
        <div class="col-md-4 topic-item" ng-repeat="topic in topics | orderByPriority | topicCategory:category">
          <span>{{topic.text}}</span>
          <button type="button" ng-class="(hasVote(topic)) ? 'btn-primary' : ''" class="btn-sm glyphicon glyphicon-heart pull-right" ng-click="toggleVote(topic)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
