.dashboard {
	text-align: center;
}

.dashboard .col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.panel {
	border: 0 none!important;
}

.panel-heading {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	border-radius: 15px;
}

.category {
	text-align: center;
}

.cat-header {
	width: 90%;
	margin: 10px 10px;
	padding: 10px 0;
	background-color: #f5f5f5;
	border-bottom: 2px solid #999;
	border-left: 2px solid #999;
	display: inline-block;
	border-radius: 15px;
}

.cat-header img, .cat-header h2 {
	display: inline;
	vertical-align: middle;
}

.topic {
	border: 1px solid #999;
	border-radius: 5px;
	background: #f5f5f5;
	width: 70%;
	margin: 20px auto;
	padding: 10px;
}

.category.good .topic {
    background-color: #B3E4B9;
}

.category.bad .topic{
    background-color: #E4B6B3;
}

.category.confused .topic{
    background-color: #E4D0B3;
}

div.topic-item {
	padding-top: 5px;
  padding-bottom: 5px;
}