<div class="container-fluid panel panel-default">
  <div class="panel-heading">
    <h1>Add retro topic</h1>
  </div>

  <div class="panel-body" ng-show="authenticated">
    <form role="form">

      <div class="btn-group categories">
        <button type="button" ng-class="(category == selectedCategory) ? 'btn-primary' : ''" class="btn" ng-repeat="category in categories | orderByPriority" ng-click="selectCategory(category)">{{category.title}}</button>
      </div>

      <div class="form-group" >
        <textarea ng-if="categorySelected" class="form-control" ng-class="selectedCategory.class" id="text" placeholder="Enter topic..." ng-model="topic.text"></textarea>
        <span class="alert alert-danger" ng-if="error" ng-bind="error"></span>
        <div ng-show="message != ''" class="alert alert-success">{{message}}</div>
      </div>

      <button type="button" class="btn btn-default" ng-show="categorySelected" ng-click="addTopic()">Add</button>
    </form>
  </div>
</div>
