<div class="container-fluid panel panel-default">
  <div class="panel-heading">
    <h1>Add retro topic</h1>
  </div>

  <div class="panel-body" ng-show="authenticated">
    <form role="form">
      <div class="btn-group">
        <button type="button" ng-class="(category == selectedCategory) ? 'btn-primary' : ''" class="btn" ng-repeat="category in categories | orderByPriority" ng-click="selectCategory(category)">{{category.title}}</button>
      </div>

      <div class="form-group" >
        <input type="textarea" ng-if="categorySelected" class="form-control" ng-class="selectedCategory.class" id="text" placeholder="Enter topic..." ng-model="topic.text">
        <span class="error" ng-if="error" ng-bind="error"></span>
      </div>
      <button type="button" class="btn btn-default" ng-click="addTopic()">Add</button>
    </form>
  </div>
</div>
