<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dius.pimpmyretro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher" >
        <activity
            android:name="com.dius.pimpmyretro.activity.LoginActivity"
            android:label="@string/title_activity_login" >
            
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.dius.pimpmyretro.activity.TopicsActivity"
            android:label="@string/activity_topics_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>